// Place all the styles related to the Channels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$primary: #000;
$secondary: #555;
.chat {
  border: 1px solid lighten($secondary, 40%);
  background: lighten($secondary, 50%);
  height: 50vh;
  border-radius: 5px 5px 0 0;
  overflow-y: auto;
}

.message {
  padding: 5px;
  display: flex;
  flex-flow: row nowrap;
  .username {
    flex: 0.5;
  }
  .body {
    padding: 5px;
    border: 1px solid $primary;
    border-radius: 5px;
    background: lighten($primary, 10%);
    color: #fff;
    flex: 9.5;

    .time {
      position: sticky;
      float: right;
    }
  }

  & + .message {
    margin-top: 10px;
  }
}
